h5py
loguru
numpy
pyepics
PyQt6
python-dateutil
python-ldap
PyYAML
pyzmq
redis
requests
stomp.py
urllib3
openpyxl
emoji
ipython
jupyterlab
scipy
pandas
matplotlib
black
flake8
isort
pytest
pre-commit
coverage
mypy
opencv-python
imageio
fastapi[all]
